%p
=button_tag_no_submit 'update', "Update"
%p
=button_tag_no_submit 'areas', "Areas"
#areas_bloc
%p
=button_tag_no_submit 'cities', "Cities"
#cities_block
%p
=button_tag_no_submit 'warehouses', "Warehouses"
#warehouses_block
%p
=button_tag_no_submit 'streets', "streets"
#streets_block
%p
=button_tag_no_submit 'rate', "Rate"
#rate_block
%p
=button_tag_no_submit 'create', "Create"
#create_block

%p
=button_tag_no_submit 'print_m', "print_m"
#print_m_block
%p
=button_tag_no_submit 'print_doc', "print_doc"
#print_doc_block
%p
=button_tag_no_submit 'delete_doc', "delete_doc"
#delete_doc_block

